<h1>Add, Add, Add... ^_^</h1>
<div class="row small-input">
  <form class="col s12" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="title" name="title" type="text" required="required" class="validate">
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="description" name="description" type="text" required="required" class="validate">
          <label for="description">Description</label>
        </div>
      </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="link" type="text" name="link_to_source" required="required" class="validate">
        <label for="link">Link your repo</label>
      </div>
    </div>
    <input class="btn red darken-4" type="submit" value="Add:)"/>
  </form>
</div>
