<h1>Welcome to ProjTube</h1>
<h2>Where projects come to die!!!(jk)</h2>
<strong class="larger_font">
  Our gear community has shared <span class="larger-font red white-text"><%= @projects_count %></span> projects so far!</strong>
<%= link_to 'Add one, today!', "/project/add", :class => "btn red darken-4" %>